body {
    width: 100%;
}

.page {
    max-width: 1440px;
    height: 100%;
    margin-inline: auto;
    padding-inline: auto;
}

.container {
    max-width: 1280px;
    margin-inline: 2vw;
}