.page__header {
    margin-block: 24px;
}

.nav__page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__header-links {
    display: flex;
    .nav__header-link {
        margin-inline: 1em;
        list-style-type: none;
    }
    & a {
        text-decoration: none;
        color:$main-color;
        white-space: nowrap;
    }
    & .active a {
        color: rgb(121, 78, 255);
    }
}

.header__btn {
    background-color: $main-color;
    border-radius: 6px;
    a {
        color: rgb(255, 255, 255);
        padding: 9px 15px;
        text-decoration: none;
        font-size: clamp(10px, 2vw, 16px);
        white-space: nowrap;
    }
}
